@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.cart {
		@apply min-h-screen bg-black;
		width: -35vw;
	}

	.x-icon {
		@apply flex justify-center items-center mr-10 mt-5 cursor-pointer;
		fill: #a5b4fc;
	}

	.menu-closed {
		top: -100vh;
	}

	.menu-active {
		@apply absolute w-2/5 py-5 px-6 bg-gray-100  right-24 mt-20 z-50 shadow-xl;
		top: 0;
	}
}
